@font-face {
  font-display: swap;
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans-VariableFont.ttf") format("truetype-variations");
  font-weight: 400 500;
}
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  src: url("../assets/fonts/DMSans-Italic-VariableFont.ttf") format("truetype-variations");
  font-weight: 500;
  font-style: italic;
}
:root {
  --ff-primary: "DM Sans", "Helvetica Neue", Arial, sans-serif;
  --fs-1: clamp(2.875rem, 2.5229rem + 1.5023vi, 3.875rem);
  --fs-2: clamp(2rem, 1.8239rem + 0.7512vi, 2.5rem);
  --fs-3: clamp(1.625rem, 1.493rem + 0.5634vi, 2rem);
  --fs-4: 1.125rem;
  --fw-1: 400;
  --fw-2: 500;
  --lh-1: clamp(2.625rem, 2.2729rem + 1.5023vi, 3.625rem);
  --lh-2: clamp(1.75rem, 1.5739rem + 0.7512vi, 2.25rem);
  --lh-3: clamp(1.5rem, 1.412rem + 0.3756vi, 1.75rem);
  --lh-4: calc(20 / 18);
  --ls-1-desk: calc(-3 / 100 * var(--fs-1));
  --ls-2-desk: calc(-2 / 100 * var(--fs-2));
  --ls-3-desk: calc(-2 / 100 * var(--fs-3));
  --ls-1-mob-tab: calc(-4 / 100 * var(--fs-1));
  --ls-2-mob-tab: calc(-6 / 100 * var(--fs-2));
  --ls-3-mob-tab: calc(-6 / 100 * var(--fs-3));
  --ls-4: 0;
}

:root {
  --clr-primary-1: hsl(256, 67%, 59%);
  --clr-primary-2: hsl(39, 100%, 71%);
  --clr-secondary-1: hsl(254, 88%, 90%);
  --clr-secondary-2: hsl(31, 66%, 93%);
  --clr-text-light: hsl(0, 0%, 100%);
  --clr-text-dark: hsl(0, 0%, 7%);
  --clr-bg: hsl(300, 5%, 96%);
}

html {
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: var(--clr-bg);
  font-family: var(--ff-primary);
  font-weight: var(--fw-2);
  font-size: var(--fs-4);
  color: var(--clr-text-dark);
  letter-spacing: var(--ls-4);
}

p, li, figcaption {
  text-wrap: pretty;
  max-inline-size: 65ch;
}

img, picture, video, canvas, svg {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

main {
  padding-inline: clamp(16px, -6.9008px + 6.1069vi, 40px);
  padding-block-start: clamp(32px, 12.916px + 5.0891vi, 52px);
  padding-block-end: clamp(40px, 5.9447px + 9.0814vi, 75.69px);
}

.features > div {
  border-radius: 0.625rem;
}

.features-card-1 {
  grid-area: c1;
}
.features-card-2 {
  grid-area: c2;
}
.features-card-3 {
  grid-area: c3;
}
.features-card-4 {
  grid-area: c4;
}
.features-card-5 {
  grid-area: c5;
}
.features-card-6-container {
  container-type: inline-size;
  grid-area: c6;
}
.features-card-7 {
  grid-area: c7;
}
.features-card-8 {
  grid-area: c8;
}

.features-card-1 {
  padding-inline: clamp(32px, -9.9847px + 11.1959vi, 76px);
  padding-block: clamp(40px, 9.4656px + 8.1425vi, 72px);
  text-align: center;
  background-color: var(--clr-primary-1);
  color: var(--clr-text-light);
}
.features-card-1__title {
  font-size: var(--fs-1);
  font-weight: var(--fw-2);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-1-mob-tab);
  max-inline-size: 13ch;
}
.features-card-1__highlight {
  color: var(--clr-primary-2);
}
.features-card-1__italic {
  font-style: italic;
}
.features-card-1__caption-text {
  line-height: var(--lh-4);
  font-weight: var(--fw-1);
}

.features-card-2 {
  padding-block: clamp(16px, 8.3664px + 2.0356vi, 24px);
  padding-inline-start: clamp(16px, 8.3664px + 2.0356vi, 24px);
  text-align: start;
  background-color: var(--clr-text-light);
  overflow: clip;
}
.features-card-2__image {
  inline-size: 19.75rem;
  block-size: 4.125rem;
  object-fit: cover;
  object-position: left;
}
.features-card-2__caption-text {
  font-size: var(--fs-3);
  line-height: var(--lh-3);
  letter-spacing: var(--ls-3-mob-tab);
  max-inline-size: 16ch;
}

.features-card-3 {
  padding-inline: clamp(16px, 8.3664px + 2.0356vi, 24px);
  padding-block-start: clamp(16px, 8.3664px + 2.0356vi, 24px);
  max-block-size: 13.5rem;
  text-align: start;
  background-color: var(--clr-primary-2);
}
.features-card-3__caption-text {
  font-size: var(--fs-3);
  line-height: var(--lh-3);
  letter-spacing: var(--ls-3-mob-tab);
  max-inline-size: 16ch;
}

.features-card-4 {
  padding-block: 32px;
  text-align: center;
  background-color: var(--clr-secondary-1);
}
.features-card-4__text {
  padding-inline: 32px;
  font-size: var(--fs-3);
  line-height: var(--lh-3);
  letter-spacing: var(--ls-3-mob-tab);
}
.features-card-4__image {
  inline-size: 100%;
  block-size: 100%;
}
.features-card-4__figure {
  padding-inline: 16px;
  max-inline-size: 24.33125rem;
}
.features-card-4__caption-text {
  padding-inline: 16px;
  line-height: var(--lh-4);
  font-weight: var(--fw-1);
  max-inline-size: 34ch;
}

.features-card-5 {
  padding: 24px;
  text-align: center;
  background-color: var(--clr-primary-1);
}
.features-card-5__caption-text {
  font-size: var(--fs-2);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-2-mob-tab);
  color: var(--clr-text-light);
  max-inline-size: 11ch;
}

.features-card-6-container {
  background-color: var(--clr-text-light);
}

.features-card-6 {
  padding: 24px;
}
.features-card-6__text-1 {
  font-size: var(--fs-1);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-1-mob-tab);
}
.features-card-6__text-2 {
  line-height: var(--lh-4);
  font-weight: var(--fw-1);
}

.features-card-7 {
  padding-inline: 32px;
  padding-block-start: clamp(32px, -9.0305px + 10.9415vi, 75px);
  padding-block-end: 32px;
  text-align: start;
  background-color: var(--clr-secondary-2);
}
.features-card-7__caption-text {
  font-size: var(--fs-2);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-2-mob-tab);
  max-inline-size: 15ch;
}
.features-card-7__highlight {
  color: var(--clr-primary-1);
  font-style: italic;
}

.features-card-8 {
  padding: 24px;
  text-align: start;
  background-color: var(--clr-primary-2);
}
.features-card-8__caption-text {
  font-size: var(--fs-2);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-2-mob-tab);
  color: var(--clr-text-dark);
  max-inline-size: 13ch;
}

.attribution {
  position: absolute;
  inset-block-end: 10px;
  inset-inline: 0;
  font-size: 12px;
  text-align: center;
  color: var(--clr-text-dark);
}

.attribution__link {
  border-radius: 3px;
  color: var(--clr-text-dark);
  text-decoration: underline;
  transition: color 0.3s;
}
.attribution__link:hover, .attribution__link:focus-visible {
  color: var(--clr-primary-1);
}
.attribution__link:focus-visible {
  outline: 3px solid var(--clr-primary-1);
  outline-offset: 2px;
}

.features {
  display: grid;
  gap: 32px;
  grid-auto-columns: 1fr;
  grid-template-areas: "c1" "c2" "c3" "c4" "c5" "c6" "c7" "c8";
}

.features-card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 24px;
}
.features-card-1__figure {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
}

.features-card-2__figure {
  display: flex;
  flex-direction: column;
  row-gap: clamp(16px, -20.6985px + 9.7863vi, 54.46px);
}

.features-card-3 {
  overflow: clip;
}
.features-card-3__figure {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.features-card-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-card-4__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
}
.features-card-4__figure {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
}

.features-card-5__figure {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.features-card-6 {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.features-card-6__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.features-card-7__figure {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.features-card-8__figure {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

@container (width > 24em) {
  .features-card-6 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (width > 34.0625em) {
  .features {
    grid-template-areas: "c1 c1" "c2 c3" "c4 c4" "c5 c5" "c6 c6" "c7 c8";
  }
  .features-card-2__caption-text {
    max-inline-size: 14ch;
  }
  .features-card-3 {
    max-block-size: 15.4375rem;
  }
  .features-card-4__caption-text {
    padding-inline: 0;
  }
  .features-card-5 {
    text-align: start;
  }
  .features-card-5__figure {
    flex-direction: row;
  }
  .features-card-7 {
    padding-inline: 24px;
  }
  .features-card-8__caption-text {
    max-inline-size: 7ch;
  }
}
@media (width > 56.25em) {
  .features {
    grid-template-areas: "c1 c1 c1" "c7 c4 c4" "c6 c4 c4" "c8 c2 c3" "c5 c5 c5";
  }
  .features-card-3 {
    max-block-size: 100%;
  }
}
@media (width > 67.1875em) {
  main {
    padding-inline: clamp(40px, -160.5937px + 22.2635vi, 160px);
    padding-block-start: clamp(52px, 0.18px + 5.7514vi, 83px);
    padding-block-end: 65px;
  }
  .features {
    grid-template-areas: "c1 c1 c4" "c7 c2 c3" "c8 c6 c5";
  }
  .features-card-1 {
    padding-inline: 32px;
    padding-block: 62px;
  }
  .features-card-1__title {
    letter-spacing: var(--ls-1-desk);
  }
  .features-card-4 {
    padding-block: 32px;
    padding-inline-start: 32px;
    text-align: start;
    justify-content: start;
  }
  .features-card-4__figure {
    padding-inline: 0;
    align-items: start;
  }
  .features-card-4__image {
    inline-size: 22.3125rem;
    block-size: 19.875rem;
    object-fit: cover;
    object-position: left;
  }
  .features-card-4__text {
    padding-inline-start: 0;
    padding-inline-end: 10px;
    letter-spacing: var(--ls-3-desk);
  }
  .features-card-4__caption-text {
    max-inline-size: 16ch;
  }
  .features-card-8 {
    padding-inline-end: 12px;
  }
  .features-card-8__figure {
    row-gap: clamp(24px, -28.6558px + 5.8442vi, 55.5px);
  }
  .features-card-8__caption-text {
    letter-spacing: var(--ls-2-desk);
  }
  .features-card-8__image {
    inline-size: 13.75rem;
    block-size: auto;
  }
  .features-card-6 {
    row-gap: clamp(24px, -18.4699px + 3.9507vi, 38.42px);
  }
  .features-card-6__text-1 {
    letter-spacing: var(--ls-1-desk);
  }
  .features-card-2__image {
    transform: translateX(0.21875rem);
  }
  .features-card-2__figure {
    row-gap: 20.46px;
  }
  .features-card-2__caption-text {
    max-inline-size: 9ch;
    letter-spacing: var(--ls-3-desk);
  }
  .features-card-7 {
    padding-inline: 32px;
    padding-block-start: clamp(75px, 65.2808px + 0.9041vi, 78.3px);
    padding-block-end: 32px;
  }
  .features-card-7__caption-text {
    letter-spacing: var(--ls-2-desk);
  }
  .features-card-5__figure {
    flex-direction: column;
    gap: 11.32px;
  }
  .features-card-5__caption-text {
    letter-spacing: var(--ls-2-desk);
  }
}
@media (width > 78.125em) {
  .features {
    grid-template-rows: 20.25rem 3.6875rem 9.75rem 15.375rem;
    grid-template-areas: "c7 c1 c1 c4" "c7 c2 c3 c4" "c8 c2 c3 c4" "c8 c6 c5 c5";
  }
  .features-card-5__figure {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */
