:root {
    --clr-primary-1: hsl(256, 67%, 59%);
    --clr-primary-2: hsl(39, 100%, 71%);
    --clr-secondary-1: hsl(254, 88%, 90%);
    --clr-secondary-2: hsl(31, 66%, 93%);
    --clr-text-light: hsl(0, 0%, 100%);
    --clr-text-dark: hsl(0, 0%, 7%);
    --clr-bg: hsl(300, 5%, 96%);
}